body {
    font-family: Arial, sans-serif;
    background-image: url(image.png);
    
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    background: rgb(216, 185, 252);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1, h3 {
    text-align: center;
    color: #951cf8;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  input, button {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
  }
  